.link-menu {
  width: 17rem;
  padding: 1.2rem;
  text-align: left;
  color: white;
  border-radius: 0.3rem;
}

.link-corner {
  height: 3rem;
}

.link-menu a {
  text-decoration: none;
  color: grey;
}

.link-menu .new-link {
  color: grey;
  margin-top: 0.6rem;
}
