.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome .icon {
  margin-top: 1rem;
  font-size: 7rem;
}

.welcome .section {
  margin-top: 10rem;
}

.welcome .greeting {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

.welcome .focus {
  border: none;
  border-bottom: 1px solid white;
  width: 35rem;
  height: 4rem;
  background: transparent;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: text;
  outline: 0;
  text-align: center;
  font-size: 4rem;
  color: white;
}
