.setting .dropdown-menu {
  width: 50rem;
  padding: 1rem;
  text-align: left;
  color: white;
  border-radius: 0.2rem;
}

.setting-container {
  padding: 1rem;
  margin: 0rem;
  display: flex;
  height: 30rem;
  width: 48rem;
}

.setting-side {
  width: 15rem;
  border-right: 1px solid white;
}

.setting-main {
  padding-left: 2rem;
  width: 100%;
  overflow-y: auto;
}

.side-heading {
  padding-bottom: 0.6rem;
}

.side-content {
  padding: 0.4rem;
  border-bottom: 1px solid grey;
}

.side-toggle {
  position: relative;
  float: right;
}
