.setting-menu {
  width: 50rem;
  padding: 1rem;
  text-align: left;
  color: lightgray;
  border-radius: 0.2rem;
}

.setting-container {
  padding: 1rem;
  margin: 0rem;
  display: flex;
  height: 30rem;
  width: 48rem;
  font-size: 1.1rem;
}

.setting-side {
  width: 15rem;
  border-right: 1px solid white;
}

.setting-main {
  padding-left: 2rem;
  width: 100%;
  overflow-y: auto;
}

.side-heading {
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.side-content {
  padding: 0.5rem;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.side-toggle {
  position: relative;
  float: right;
}

.side-toggle.small-heading {
  font-size: 1rem;
  color: white;
}

.setting-menu button {
  padding: 0.5rem 2.5rem;
  margin: 1.5rem;
  border-radius: 5rem;
}

.small-heading {
  font-size: 1rem;
  color: grey;
}

.main-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.heading {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.tip {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0px;
}

.inline {
  display: flex;
  justify-content: space-evenly;
}
