.todo-menu {
  width: 22rem;
  max-width: 22rem;
  max-height: 25rem;
  padding: 1rem;
  text-align: left;
  color: white;
  border-radius: 0.3rem;
  overflow: auto;
}

.todo-header {
  color: lightgray;
}

.todo-main {
  margin-top: 1rem;
}

.todo-main .icon {
  position: absolute;
  right: 1.5rem;
}

.no-todo {
  color: lightgray;
  text-align: center;
}

.no-todo button {
  padding: 0.5rem 2rem;
  margin: 1rem 0rem;
  border-radius: 5rem;
}

.todo-footer {
  margin-top: 1rem;
}

.input-todo {
  border: none;
  width: 100%;
  height: 2rem;
  margin: 1rem 0rem;
  background: transparent;
  cursor: text;
  outline: 0;
  font-size: 1rem;
  color: white;
}
