.todo .dropdown-menu {
  width: 23rem;
  padding: 1rem;
  text-align: left;
  color: white;
  border-radius: 0.2rem;
}

.todo-header {
  color: lightgray;
}

.todo-main {
  margin-top: 1rem;
}

.todo-main .icon {
  position: absolute;
  right: 2rem;
}

.no-todo {
  color: lightgray;
  text-align: center;
}

.no-todo button {
  margin-top: 1rem;
}

.todo-footer {
  margin-top: 1rem;
}

.focus2 {
  border: none;
  width: 100%;
  height: 2rem;
  background: transparent;
  cursor: text;
  outline: 0;
  font-size: 1rem;
  color: white;
}
