.corner {
  margin: 0.8rem;
}

.toggle {
  background: transparent;
  border: none;
  font-size: 1.2rem;
}

.dropdown-menu {
  background-color: rgba(15, 15, 15, 0.925);
}

.dropdown-item {
  color: white;
}

.strikethrough {
  margin-right: 0.5rem;
}

.strikethrough:checked + label {
  text-decoration: line-through;
}
