* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  color: white;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://s3.amazonaws.com/123rf-chrome/images/14881853_xl.jpg');
}
